@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.sign-form {
  @apply w-full shadow-2xl card shrink-0;
}
.login-text {
  @apply mb-4 text-2xl font-bold text-center text-black;
}
.sign-btn {
  @apply bg-[#D1A054] text-white font-bold py-3 hover:bg-black;
}
.social-login {
  @apply w-10 h-10 py-2 text-center border border-black rounded-full hover:font-bold hover:border-orange-600 hover:text-black;
}

.logo-div {
  @apply flex items-center justify-center py-5 space-x-11;
}
